:root {
  --primary_color: rgb(28 25 26);
  --secondary_color: rgb(255 189 89);
}
* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: var(--secondary_color);
}

header {
  display: flex;
  width: 100%;
  height: max-content;
  background-color: var(--primary_color);
  box-shadow: 2px 2px 2px 2px rgba(7, 7, 7, 0.357);
  max-height: 350px;
}
img {
  height: 70px;
  width: 80px;
  border-radius: 100%;
}
.nav {
  display: flex;
}
a {
  padding: 20px;
  text-decoration: none;
}
ul a {
  display: inline;
  margin-right: 5px;
  padding: 2px;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}
a:hover {
  background-color: var(--secondary_color);
  color: var(--primary_color);
  border-radius: 10%;
}
